.chara-page {
  // background-color: black;
  // color: white;
  .chara-container {
    display: flex;
    flex-wrap: wrap;
    // border: solid green 3px;
    justify-content: center;

    a {
      text-decoration: none;
    }
    .chara-info {
      // border: blue solid 2px;
      background-color: #202020;
      margin: 10px;
      color: white;
      height: 356px;
      width: 194px;
      box-sizing: border-box;
      position: relative;
      .to-chara-link {
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        // border: green solid 2px;
        cursor: pointer;
        .chara-img--div {
          box-sizing: border-box;
          height: 60%;

          .chara-img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            box-sizing: border-box;
          }
        }

        .chara-separator {
          border: solid #e62429 4px;
          box-sizing: border-box;
        }

        .bottom-info {
          // margin-top: 10px;
          height: calc(40% - 8px);
          padding: 10px;
          color: white;
          // border: magenta solid 1px;
          box-sizing: border-box;

          h3 {
            // border: aquamarine solid 1px;
            font-size: 16px;
            line-height: 30px;
          }
        }
      }
      .to-chara-link:hover {
        .bottom-info {
          background-color: #e62429;
        }
      }
      button {
        position: absolute;
        top: 6px;
        right: 6px;
        border-radius: 100px;
        height: 30px;
        width: 30px;
        border: none;
        cursor: pointer;
        .heart {
          .nop {
            color: black;
          }
          .yes {
            color: #e62429;
          }
        }
      }

      // .round {
      //   border: none;
      //   height: 40px;
      //   width: 40px;
      //   background-color: #e62429;
      //   border-radius: 50%;
      //   position: absolute;
      //   bottom: 10px;
      //   right: 10px;
      //   display: flex;
      //   justify-content: center;
      //   align-items: center;
      //   color: white;
      //   cursor: pointer;
      // }
    }
  }
}
