.login-main {
  //   border: red solid 2px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  h2 {
    color: #e62429;
    font-size: 24px;
  }
  .form-container {
    // border: green solid 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "roboto condensed", sans-serif;

    input {
      height: 40px;
      width: 330px;
      margin-top: 28px;
      border-radius: 4px;
    }
    .input-text {
      border: #202020 solid 1px;
      padding-left: 20px;
      box-sizing: border-box;
    }
    .input-submit {
      border: none;
      color: white;
      background-color: #e62429;
      font-size: 18px;

      cursor: pointer;
    }
  }
  .separator {
    border-bottom: #202020 solid 1px;
    margin-top: 60px;
    width: 330px;
  }
  a {
    border: #202020 solid 2px;
    height: 40px;
    width: 200px;
    text-decoration: none;
    color: #202020;
    text-align: center;
    padding-top: 10px;
    box-sizing: border-box;
    margin-top: 30px;
    cursor: pointer;
  }
}

@media (max-width: 380px) {
  .login-main {
    .form-container {
      input {
        height: 40px;
        width: 230px;
        margin-top: 28px;
        border-radius: 4px;
      }
    }
  }
}
