.signup-main {
  //   border: red solid 2px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    color: #e62429;
    font-size: 24px;
  }

  h2 {
    margin-top: 40px;
  }

  .form-container {
    // border: green solid 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "roboto condensed", sans-serif;

    input {
      height: 40px;
      width: 330px;
      margin-top: 28px;
      border-radius: 4px;
    }
    .input-text {
      border: #202020 solid 1px;
      padding-left: 20px;
      box-sizing: border-box;
    }
    .input-submit {
      border: none;
      color: white;
      background-color: #e62429;
      font-size: 18px;

      cursor: pointer;
    }
  }

  .sign-in {
    // height: 40px;
    // width: 200px;
    color: #202020;
    text-align: center;
    padding-top: 12px;
    box-sizing: border-box;
    margin-top: 30px;
    display: flex;
    a {
      color: #e62429;
      margin-left: 6px;
    }
    a:hover {
      text-decoration: none;
    }
  }
}
